*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nimbus Sans L";
}

body,html{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#nav{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
    position: relative;
}

.nav-left,.nav-right{
    display: flex;
    gap: 40px;
}

.nav-left a, .nav-right a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 11px;
    letter-spacing: .7px;
    font-weight: 800;

}
#nav #centeratag{
    text-decoration: none;
    color: #000;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    margin-top: 14vw;
    padding: 0 10vw;
}

.sustain{
    width: 17vw;
    margin-top: 3.5vw;
}

.sustain p{
    font-size: 1vw;
    letter-spacing: -.1px;
    opacity: .3;
    line-height: 1.1;
    margin: 8px 0;
    font-weight: 500;
}

.sustain h4{
    font-size: 1.3vw;
    margin-top: -5px;
    letter-spacing: -.5px;
    text-transform: capitalize;
}

.sustain h5{
    font-size: 1vw;
    font-weight: 400;
}

.sustain .sus-image{
    position: relative;
    overflow: hidden;
    height: 14vw;
    width: 65%;
    /* background-color: green; */
}

.sus-image img{
  
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ephemeral{
    position: relative;
    min-height: 30vw;
    width: 25vw;
    /* background-color: red; */
}

.heading{
    position: absolute;
    top: -28%;
    left:-21.5%;
    /* background-color: red; */
}

.heading h1{
    font-size: 5vw;
    font-weight: 400;
}

.ephemeral img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-text{
    width: fit-content;
}

.img-text p{
    font-size: 1.2vw;
    width: 60%;
    padding-top: 2vw;
}

.visit{
    display: flex;
    align-items: center;
    gap: 5px;
}

.circle-v{
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}

.circle-v i{
    color: #5e5e5e;
}

.visit h3{
    font-size: 1.2vw;
    font-weight: 400;
}

/* ====================part2======================= */

.motive{
    padding: 4vw 10vw;
    scale: .3;
}

.motive h3{
    font-size: 1.5vw;
    opacity: .5;
    text-transform: uppercase;
    font-weight: 530;
    padding:2vw 0;
}

.motive p{
    /* background-color: red; */
    margin-left: 5vw;
    text-align: right;
    line-height: 1.8;
    font-size: 1.8vw;
    
}

.motive span{
    display: inline-block;    
    height: 4vw;
    width: 6vw;
    background-color: red;
    border-radius: 50px;
    margin: 0 13px;
    margin-bottom: -12px;
}

#one{
    height: 3vw;
    width: 5vw;
    background-color: green;
    background-image: url(bluegirl.jpg);
    background-position: 0 55%;
    background-size: cover;
}

#two{
    height: 3vw;
    width: 7vw;
    background-color: green;
    background-image: url(shaljam.jpg);
    background-position: 0 45%;
    background-size: cover;
}

#three{
    height: 3vw;
    width: 5vw;
    background-color: green;
    background-image: url(grass.jpg);
    background-position: 0 55%;
    background-size: cover;
}

/* ==========================part3========================== */

.images{
    padding-top: 5vw;
    width: 100%;
    padding-right: 10vw;
    padding-left: 22vw;
    display: flex; 
    justify-content: space-between;
}

.synergy{
    width: 17vw;
}

.synergy h1{
    font-size: 2.2vw;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

.synergy p, .harmony p{
    font-size: 1.3vw;
}

.synergy img{
    object-fit: cover;
    height: 20vw;
    width: 16vw;
}

.harmony{
    width: 28vw;
    text-align: right;
}

.harmony h1{
    font-size: 2.2vw;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

.harmony img{
    object-fit: cover;
    height: 36vw;
    width: 28vw;
}

/* ========================part 4============================= */

.bio{
    padding-top: 7vw;
    padding-right: 4vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

.bio h1{
    font-size: 2.4vw;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.2;
}

.bio p{
    font-size: 1.2vw;
    width: 70%;
    margin-top: 15px;
}

.bio .img{
    height: 35vw;
    width: 100vw;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 70%;
}

.think{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    background-color: #fff;
    text-align: center;
    padding: 1.2vw 1.4vw;
    border-radius: 10px;
}

.think h1{
    font-weight: 400;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

button{
    margin-top: 15px;
    padding: .8vw 1.2vw;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: .9vw;
    background:linear-gradient(to left bottom,#433b3b, #dadada);
    cursor: pointer;
}